#color-legend {
  position: absolute;
  width: 100%;
  bottom: 0px;
  height: 20px;
  color: #fff;
  overflow: hidden;
}
#color-legend .legend-block {
  float: left;
  width: 2%;
  height: 20px;
}
#color-legend .legend-block div {
  width: 100%;
  text-align: center;
  padding-top: 3px;
  font-size: 12px;
}

@media screen and (max-width: 1500px) {
  #color-legend .legend-block div {
    padding-top: 3px;
    font-size: 10px;
  }
}
@media screen and (max-width: 1000px) {
  #color-legend .legend-block div {
    padding-top: 5.5px;
    font-size: 7.5px;
  }
}
@media screen and (max-width: 650px) {
  #color-legend .legend-block div {
    display: none;
  }
}
