#cover-widgets {
  transition-duration: 500ms;
  opacity: 0;
  color: #dcdcdc;
  overflow: auto;
  margin-top: 60px;
}
#cover-widgets.active {
  opacity: 1;
}
#cover-widgets .container-widgets {
  max-width: 1600px;
  margin: auto;
  transition-duration: 500ms;
  padding: 10px;
}
#cover-widgets .container-widgets .info-widget {
  padding: 10px 0;
  background: rgba(75,75,75,0.5);
  color: #fff;
}
#cover-widgets .container-widgets .info-widget .location-time-info {
  font-size: 14px;
  text-shadow: 0 0 2px black;
  padding: 0 10px;
}
#cover-widgets .container-widgets .info-widget .metar-info {
  font-size: 14px;
  text-shadow: 1px 1px 0px #555;
  padding: 0 10px;
}
#cover-widgets .container-widgets .info-widget .buttons-container {
  display: inline-block;
  width: 100%;
}
#cover-widgets .container-widgets .info-widget .buttons-container .follow {
  float: left;
  margin-left: 10px;
}
#cover-widgets .container-widgets .info-widget .buttons-container .close {
  float: right;
  margin-right: 10px;
}
#cover-widgets .container-widgets .container-widget {
  width: 100%;
  margin-top: 10px;
}
#cover-widgets .container-widgets .widget-wind-array {
  width: 100%;
  display: flex;
  margin-top: 10px;
}
#cover-widgets .container-widgets .containerArrowWidget {
  margin-right: 10px;
  background: rgba(60,60,60,0.5);
}
#cover-widgets .container-widgets .containerWindObservation {
  background: rgba(60,60,60,0.5);
  width: 100%;
}
#cover-widgets .container-widgets .widget-wind-array .widget-wind-graph {
  display: block;
}
#cover-widgets .container-widgets .widget-wind-array table {
  border-collapse: collapse;
  text-align: center;
  font-size: 14px;
}
#cover-widgets .container-widgets .widget-wind-array table td {
  height: 30px;
  padding: 0 0 0 0;
}
#cover-widgets .container-widgets .widget-wind-array table.main {
  color: black;
}
#cover-widgets .container-widgets .widget-wind-array table.main .hour {
  background: rgba(0,0,0,0.25);
  color: #fff;
  text-shadow: 0 0 2px black;
}
#cover-widgets .container-widgets .legend-array-widget {
  width: 45px;
  position: absolute;
  color: #fff;
  background: rgba(0,0,0,0.9);
}

@media screen and (max-width: 700px) {
  #cover-widgets .container-widgets .widget-wind-array {
    display: inherit;
  }
  #cover-widgets .container-widgets .containerArrowWidget {
    margin-right: 0;
    margin-bottom: 0px;
  }
}
