
#left-panel {
  /* border-right: 1px solid black; */
  left: 0px;
}
#left-panel.active { left: -260px; }
#left-panel .child-panel {
  transition-duration: 80ms;
  background-color: rgba(0,0,0,0);
  width: 100%;
}
#left-panel .child-panel .rawdata {
  font-size: 12px;
  color: #0099d1;
}
#left-panel .child-panel .container-city-info {
  width: 100%;
}
#left-panel .child-panel div.info {
  float: right;
}
#left-panel .child-panel div.info div { float: right; }
#left-panel .child-panel div.info .max {
  float: right;
  margin-right: 8px;
}
#left-panel .child-panel:hover {
  padding-left: 4px;
}
#left-panel .child-container {
  padding: 12px;
}
#left-panel .container-panelSpot {
  background: #2f2f2f;
  padding: 10px;
  border-radius: 2px;
  border-bottom: 1px solid #111;
  border-right: 1px solid #111;
}
#left-panel.background-leftpanel {
  animation: gradient 2s ease infinite;
}
@keyframes gradient {
  0% { background: #202020 }
	50% { background: #333 }
	100% { background: #202020 }
}

@media only screen and (max-device-width: 1100px) {
  #left-panel {
    left: 0px;
    border-right: 1px solid black;
  }
  #left-panel.active { left: -260px; }
  #left-panel .child-panel {
    transition-duration: 0;
  }
  #left-panel .child-panel:hover {
    padding-left: 0px;
  }
}
@media only screen and (max-device-width: 480px) {
  #left-panel { left: 0; }
  #left-panel.active { left: -100%; }
}
