
#left-panel, #right-panel {
  transition-duration: 500ms;
  background: #202020;
  width: 259px;
  position: absolute;
  top: 60px;
  color: #e8e8e8;
  font-size: 14px;
}

#left-panel h1,
#left-panel h2,
#left-panel h3,
#right-panel h1,
#right-panel h2,
#right-panel h3 {
  font-weight: 300;
}
#left-panel .child-container,
#right-panel .child-container {
  padding: 15px;
  border-bottom: 1px solid #444;
}
#left-panel .child-container.last,
#right-panel .child-container.last {
  border-bottom: 0px;
}

@media only screen and (max-device-width: 480px) {
  #left-panel,
  #right-panel {
    width: 100%;
  }
}
